In [2]:
# *WORK BY AZUN PRECIOUS EBITE*
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#now lets view 
strokedata = pd.read_csv('healthcare_stroke.csv')
strokedata.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [3]:
#Oh hi it's Precious EBite Azun, lets have fun with some datas,

print(strokedata.shape)
print(strokedata.describe().T)

(5110, 12)
                    count          mean           std    min        25%  \
id                 5110.0  36517.829354  21161.721625  67.00  17741.250
age                5110.0     43.226614     22.612647   0.08     25.000
hypertension       5110.0      0.097456      0.296607   0.00      0.000
heart_disease      5110.0      0.054012      0.226063   0.00      0.000
avg_glucose_level  5110.0    106.147677     45.283560  55.12     77.245
bmi                4909.0     28.893237      7.854067  10.30     23.500
stroke             5110.0      0.048728      0.215320   0.00      0.000

                         50%       75%       max
id                 36932.000  54682.00  72940.00
age                   45.000     61.00     82.00
hypertension           0.000      0.00      1.00
heart_disease          0.000      0.00      1.00
avg_glucose_level     91.885    114.09    271.74
bmi                   28.100     33.10     97.60
stroke                 0.000      0.00      1.00

In [4]:
#exploring the datasets we can see there are missing values for the BMI but we can also check in this way: Precious is trying to make it easier.........
strokedata.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
#this means we have missing values for the bmi and it is incomplete. so we have to fill this up using the median of the total numbers on bmi column: opps i got lost as NaN please find me
#uhmmm Uncle Numpy
import numpy as np
strokedata.bmi.replace(to_replace=np.NaN, value=strokedata.bmi.mean(), inplace=True)
strokedata.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1

In [6]:
#investigating the datas again we see that we have categporical feautures and machine understands numerical values only
#gender,ever_married,work_type,residence_type,smoking_status
strokedata.iloc[:1]
#was trying to run through the labels

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1

In [7]:
#now we have to investigate datas having only two states
strokedata.gender.unique(), strokedata.ever_married.unique(), strokedata.Residence_type.unique(),strokedata.work_type.unique(),strokedata.smoking_status.unique()

(array(['Male', 'Female', 'Other'], dtype=object),
 array(['Yes', 'No'], dtype=object),
 array(['Urban', 'Rural'], dtype=object),
 array(['Private', 'Self-employed', 'Govt_job', 'children', 'Never_worked'],
       dtype=object),
 array(['formerly smoked', 'never smoked', 'smokes', 'Unknown'],
       dtype=object))

In [8]:
#lets view gender
strokedata.gender.value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [9]:
#our data has 'OTHER' in the gender section. so let's take this out guys by giving it to male since they are few: pity us.....lol
strokedata['gender'] = strokedata['gender'].replace('Other', 'Male')
strokedata.gender.value_counts()

#done! the rest are unique just like YOU!! Smiles

Female    2994
Male      2116
Name: gender, dtype: int64

In [10]:
#from the above info we can see that these feautures are in categorical format... the computer understands numbers in this case.. lets turn abc to 123
#now we have to perform one hot encoding for all datas
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
gender=enc.fit_transform(strokedata['gender'])

In [11]:
ever_married=enc.fit_transform(strokedata['ever_married'])

In [12]:
work_type=enc.fit_transform(strokedata['work_type'])
Residence_type=enc.fit_transform(strokedata['Residence_type'])
smoking_status=enc.fit_transform(strokedata['smoking_status'])

In [13]:
#lets observe for a single column...lets take work type..................................
strokedata['work_type'] = work_type
strokedata

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,2,Urban,228.69,36.600000,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,3,Rural,202.21,28.893237,never smoked,1
2,31112,Male,80.0,0,1,Yes,2,Rural,105.92,32.500000,never smoked,1
3,60182,Female,49.0,0,0,Yes,2,Urban,171.23,34.400000,smokes,1
4,1665,Female,79.0,1,0,Yes,3,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,2,Urban,83.75,28.893237,never smoked,0
5106,44873,Female,81.0,0,0,Yes,3,Urban,125.20,40.000000,never smoked,0
5107,19723,Female,35.0,0,0,Yes,3,Rural,82.99,30.600000,never smoked,0
5108,37544,Male,51.0,0,0,Yes,2,Rural,166.29,25.600000,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,0,Urban,85.28,26.200000,Unknown,0